$tamaño-imagen: scale(1.5);
$acomodando-card-rotacion-pantalla: 1rem auto 6rem auto !important;
$acomodando-card-pantalla-vertical: 1rem auto 3rem auto !important;

@mixin centrarTodo {
  display: flex;
  align-items: center;
  justify-content: center;
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
/* estilos generales para toda la app */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}

#app {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  height: 100vh;
  background-image: url(./background-pokedex.jpg);
  background-repeat: no-repeat;
  background-size: cover; /* sirve para que la imagen cubra todo el contenedor (se adapte a la resolucion y no se ve distorcionado )*/
}

/* colores type pokemon*/
.normal {
  background-color: #a8a878;
}
.fire {
  background-color: #f08030;
}
.water {
  background-color: #6890f0;
}
.grass {
  background-color: #78c850;
}
.electric {
  background-color: #f8d030;
}
.ice {
  background-color: #98d8d8;
}
.fighting {
  background-color: #bf2f27;
}
.poison {
  background-color: #a040a0;
}
.ground {
  background-color: #e0c068;
}
.flying {
  background-color: #a890f0;
}
.psychic {
  background-color: #f85888;
}
.bug {
  background-color: #a8b820;
}
.rock {
  background-color: #b8a038;
}
.ghost {
  background-color: #705898;
}
.dark {
  background-color: #705848;
}
.dragon {
  background-color: #7038f8;
}
.steel {
  background-color: #b8b8d0;
}
.fairy {
  background-color: #f0b5bb;
}

.acomodar-app {
  display: flex;
  flex-direction: column;
}

main {
  max-width: 100%; /* el % es relativo se adapta al tamaño de la pantalla, y max-width tambien sirve para que se adapte al tamoño de pantalla */
  height: 100%; /* para ocupar todo el alto automaticamente y no este adivinando con rem para cada tamaño de pantalla*/
  margin: 0 auto;
  padding-top: 1%;
  box-sizing: border-box; /* fijo el tamaño de caja del contenedor no importa las medidas que le agregue a los demas elementos */
}

/* card */
img {
  height: 14rem;
  image-rendering: pixelated;
  object-fit: contain;
  transform: $tamaño-imagen;
  padding: 0 1rem 0 1rem;
  z-index: 0;
}
.padding-card {
  padding: 1rem;
}

// medidas para celular pequeños
@media screen and (max-width: 480px) {
  img {
    height: 5rem;
    transform: $tamaño-imagen;
  }
}
// medidas para celular normales
@media screen and (min-width: 480px) and (max-width: 767px) {
  img {
    height: 6rem;
    transform: $tamaño-imagen;
  }
}
// medidas para tablet
@media screen and (min-width: 768px) and (max-width: 991px) {
  img {
    height: 18rem;
    transform: $tamaño-imagen;
  }
  .centrar {
    margin: $acomodando-card-rotacion-pantalla;
  }
}
// medidas para laptop
@media screen and (min-width: 992px) and (max-width: 1199px) {
  img {
    height: 18rem;
    transform: $tamaño-imagen;
  }
  .centrar {
    margin: $acomodando-card-rotacion-pantalla;
  }
}
// medidas para monitor pc
@media screen and (min-width: 1200px) {
  img {
    height: 18rem;
    transform: $tamaño-imagen;
  }
}

/* centrar el card y otras cosas */
.centrar {
  margin: 0 auto;
  @include centrarTodo();

  .card {
    border-radius: 20px;
    filter: drop-shadow(0 0 15px #121212);
  }
}

p {
  margin: 0;
}
.badge > span {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

form {
  width: 100%;
}

/*centro la imagen */
.col-md-4 {
  @include centrarTodo();
}

/* navbar */
.navbar {
  @include centrarTodo();
}
.centrar-navbar {
  @include centrarTodo();
}

/* animacion trasnition para el card */
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(-50px);
}

/* input */
.input {
  width: 100%;
  height: 45px;
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
  z-index: 1;
}
.input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}
.input:active {
  transform: scale(0.95);
}
.input:focus {
  border: 2px solid grey;
}

.border_black {
  border: 1px solid black;
}

/* loader */
.wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;

  .circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #000;
    left: 15%;
    transform-origin: 50%;
    animation: circle7124 0.5s alternate infinite ease;
  }
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}
.circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}
.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 0.5s alternate infinite ease;
}
@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }
  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}
.shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}
.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

/* footer */
footer {
  //background-color: #252525;
  //color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0.5rem;
  }

  .social-media {
    display: grid;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: bold;
    /*margin-bottom: 0.5rem;*/
  }

  .iconos-footer {
    padding: 0 20px;
    text-decoration: none;
    //color: #fff;
  }

  /*.iconos-footer:hover {
    color: #d7dde8;
  }*/

  .bi:hover {
    transform: $tamaño-imagen;
  }

  .contact-info {
    display: grid;
  }
}

@media screen and (max-width: 412px) {
  .footer-container {
    @include centrarTodo();
  }
  footer .social-media {
    display: flex;
    margin: 0;
    align-items: flex-end;

    .iconos-footer {
      padding: 0px 5px 0px 5px;
    }
  }
}

@media screen and (min-width: 412px) {
  footer .social-media {
    height: 4rem;

    .iconos-footer {
      transform: $tamaño-imagen;
    }
  }
}
