@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  box-sizing: border-box;
}

#app {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  height: 100vh;
}

.normal {
  background-color: #a8a878;
}
.fire {
  background-color: #f08030;
}
.water {
  background-color: #6890f0;
}
.grass {
  background-color: #78c850;
}
.electric {
  background-color: #f8d030;
}
.ice {
  background-color: #98d8d8;
}
.fighting {
  background-color: #bf2f27;
}
.poison {
  background-color: #a040a0;
}
.ground {
  background-color: #e0c068;
}
.flying {
  background-color: #a890f0;
}
.psychic {
  background-color: #f85888;
}
.bug {
  background-color: #a8b820;
}
.rock {
  background-color: #b8a038;
}
.ghost {
  background-color: #705898;
}
.dark {
  background-color: #705848;
}
.dragon {
  background-color: #7038f8;
}
.steel {
  background-color: #b8b8d0;
}
.fairy {
  background-color: #f0b5bb;
}

img {
  height: 14rem;
  image-rendering: pixelated;
  object-fit: contain;
  transform: scale(1.5);
  padding: 0 1rem 0 1rem;
  z-index: 0;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
}

.padding-card {
  padding: 1rem;
}

/* medidas para celular pequeños */
@media screen and (min-width: 200px) {
  img {
    height: 5rem;
    transform: scale(2);
  }
}
/* medidas para celular normales */
@media screen and (min-width: 320px) and (max-width: 480px) {
  img {
    height: 7rem;
    transform: scale(1.5);
  }
}
/* medidas para tablet */
@media screen and (min-width: 481px) and (max-width: 768px) {
  img {
    height: 10rem;
    transform: scale(1.5);
  }
}
/* medidas para laptop */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  img {
    height: 18rem;
    transform: scale(1.5);
  }
  .centrar {
    margin: 1rem auto 3rem auto !important;
  }
}
/* medidas para monitor pc */
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  img {
    height: 18rem;
    transform: scale(1.5);
  }
  .centrar {
    margin: 1rem auto 3rem auto !important;
  }
}
/* medidas para tv */
@media screen and (min-width: 1201px) {
  img {
    height: 18rem;
    transform: scale(1.5);
  }
  .centrar {
    margin: 1rem auto 3rem auto !important;
  }
}

.centrar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem auto;
}

p {
  margin: 0;
}

.badge > span {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
}

form {
  width: 100%;
}

/*centro la imagen */
.col-md-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centrar-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(-50px);
}

.card {
  border-radius: 20px;
  filter: drop-shadow(0 0 15px #121212);
}

.input {
  width: 100%;
  height: 45px;
  padding: 12px;
  border-radius: 12px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
  z-index: 1;
}

.input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  border: 2px solid grey;
}

.border_black {
  border: 1px solid black;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 3rem;
  text-align: center;
  position: fixed;
  bottom: 0;
}

.footer__icon {
  padding: 0 20px;
  text-decoration: none;
  color: #fff;
}

.footer__icon:hover {
  color: #d7dde8;
}

a:hover {
  transform: scale(1.5);
}

.wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #000;
  left: 15%;
  transform-origin: 50%;
  animation: circle7124 0.5s alternate infinite ease;
}

@keyframes circle7124 {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }
  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow046 0.5s alternate infinite ease;
}

@keyframes shadow046 {
  0% {
    transform: scaleX(1.5);
  }
  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }
  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}
